In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import f

In [2]:
##For createing example data
Group1 = [51, 45, 33, 45, 67]
Group2 = [23, 43, 23, 43, 45]
Group3 = [56, 76, 74, 87, 56]

In [3]:
df = pd.DataFrame({'Subid':range(1, len(Group1)+1), 'Group1': Group1, 'Group2': Group2, 'Group3': Group3 })

In [4]:
df.head()

   Group1  Group2  Group3  Subid
0      51      23      56      1
1      45      43      76      2
2      33      23      74      3
3      45      43      87      4
4      67      45      56      5

In [5]:
##function to calculate the grand mean

def cal_grandmean(data, columns):
    data = df
    columns = ['Group1', 'Group2', 'Group3']
    gm = np.mean(data[columns]. mean())
    
    return gm

In [6]:
#After data creation we calculate the grand mean, subject mean, and column means.
grand_mean = cal_grandmean(df, ['Group1', 'Group2', 'Group3'])
df['Submean'] = df[['Group1', 'Group2', 'Group3']].mean(axis =1)
column_means = df[['Group1', 'Group2', 'Group3']].mean(axis =0)

In [7]:
grand_mean

51.133333333333326

In [9]:
##To get the sample size and the number of levels of the within-subject factor
n = len(df['Subid'])
k = len(['Group1', 'Group2', 'Group3'])

#Degree of Freedom
ncells = df[['Group1', 'Group2', 'Group3']].size
dftotal = ncells-1
dfbw = k-1
dfsbj = n- 2                    #removing the subid and index cols.
dfw = ncells-k
dferror = ncells - dfsbj

In [10]:
#Sum of Squares Between
SSbetween = sum(n*[(m - grand_mean)**2 for m in column_means])

In [11]:
#Sum of Squares Within
SSwithin = sum(sum([(df[col]- column_means[i])**2 for i, col in enumerate(df[['Group1', 'Group2', 'Group3']])]))

In [12]:
# Sum of Squares Subjects
SSsubject = sum(k*[(m-grand_mean)**2 for m in df['Submean']])

In [13]:
#Mean square error  
MSerror = sum(df[['Group1', 'Group2', 'Group3']].var())/dfsbj

In [15]:
# Sum of Squares Error
SSerror = MSerror * dferror

In [16]:
SSerror

1860.8

In [17]:
#sum of squared deviations of all observations
SStotal = SSbetween + SSwithin

In [18]:
SStotal

4883.733333333334

In [19]:
##Mean square between
MSbetween = SSbetween/dfbw

In [20]:
MSbetween

1511.4666666666667

In [21]:
##After we have calculated the Mean square error and Mean square between we can obtain the F-statitistica
F = MSbetween/MSerror

In [22]:
F

9.747205503009459

In [23]:
alpha = 0.05
p = stats.f.sf(F, dfbw, dferror)

In [24]:
#Effect size
eta_sqrd = SSbetween/SStotal

In [25]:
#Write up the results in APA format.

print('APA writeup')
print('F()= {:.2f}'.format(F))

if p<alpha:
    print('p<', alpha) 
    
else:
    print('p>', alpha)

print('\u03B7\u00b2 = {:.2f}'.format(eta_sqrd))

APA writeup
F()= 9.75
p< 0.05
η² = 0.62